.login{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    
}
.login-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
    /* border: 1px solid black; */
}
.login-wrapper button{
font-size: 17px;
padding: 16.5px 32px;
color:  rgb(217, 225, 225);
background-color: rgb(25, 4, 58);
border-radius: 5px;
/* border: none; */
cursor: pointer;
transition: 0.3s ease-in-out;
}
.login-wrapper button:hover{
    background-color: rgb(25, 4, 58);

    letter-spacing: 0.3px;
}
.sign-in{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    padding: 0 25px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    transition: 0.4s ease-in-out;
    border: 2px solid red;
}
.sign-in:hover{
        color:  rgb(25, 4, 58);
        letter-spacing: 0.3px;


}
.github{
    border: 1px solid gray;
}