.products-wrap{
    text-align: center;
}
.products_box{
    max-width: 1200px;
    margin: 35px auto;
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(252px, 1fr));
    column-gap: 20px;
}
.product-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.product-card h3{
    background-color: rgb(25, 4, 58);
    color: rgb(227, 227, 227);
    padding: 15px 39px;
}
.line{
    border: 2px solid red;
    width: 100px;
    position: relative;
    bottom: 0.6rem;
    
}
.details{
    max-width: 80%;
    
}