.footer{
    margin-top:20px;
    padding: 20px;
    background-color: rgb(25, 4, 58);
    color: rgb(237, 235, 235);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
}
.sub-footer{
    margin-bottom: 20px;
}
.footer-card h1{
    font-size: 29px;
    color: rgb(218, 218, 218);
}
.footer-card span{
    color: red;
}
.payment_logo{
    margin: 8px;
}
@media screen and (max-width: 520px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 14px;
        justify-items: flex-start;
        padding: 20px;
    }
   
}
@media screen and (max-width: 420px){
    .footer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 14px;
        justify-items: flex-start;
    }
   
}